{
    "openapi": "3.1.0",
    "info": {
        "title": "Pipeelo",
        "version": "1.0.0",
        "description": "<img src=\"./assets/logo.png\" alt=\"Pipeelo\" width=\"220\" />\n\nA API da Pipeelo permite integrar a plataforma de atendimento e comunicação multicanal ao seu sistema: gerencie conversas, envie mensagens, cadastre clientes, dispare campanhas e receba eventos em tempo real via webhooks.\n\n## Base URL\n\n| Ambiente | URL |\n|---|---|\n| Produção | `https://api.pipeelo.com/v1` |\n\nTodas as requisições devem usar HTTPS e enviar o cabeçalho `Accept: application/json`.\n\n## Conceitos\n\nOs nomes usados nesta documentação têm significado preciso na Pipeelo:\n\n| Conceito | O que é |\n|---|---|\n| **Conversa** | Sessão de atendimento com um cliente em um canal. Tem protocolo único e passa por estados: aberta, pendente, em fila, encerrada e arquivada. |\n| **Cliente** | Contato atendido pela sua operação, identificado principalmente pelo telefone. Organizável com etiquetas. |\n| **Mensagem** | Item dentro de uma conversa: texto, imagem, vídeo, áudio, documento ou nota interna (visível só para a equipe). |\n| **Canal** | Meio de comunicação da conversa: WhatsApp Official, Facebook Messenger, Instagram ou voz. Um tenant pode ter várias contas conectadas por canal (subcanais). |\n| **Usuário** | Membro da sua equipe (atendente), com papel e categorias atribuídas. |\n| **Categoria** | Fila ou departamento de atendimento. Conversas são roteadas para categorias, que têm horários de atendimento próprios. |\n| **Template** | Modelo de mensagem aprovado pela Meta (HSM), obrigatório para iniciar conversas no WhatsApp fora da janela de 24 horas. |\n| **Campanha** | Envio em massa de uma mensagem para um conjunto de clientes. |\n| **Notificador** | Integração de envio transacional de templates, acionada pelo seu sistema (ex.: confirmação de pedido, lembrete de pagamento). |\n| **Mensagem rápida** | Resposta pronta reutilizável pelos atendentes durante o atendimento. |\n| **Mensagem automática** | Mensagem disparada automaticamente por eventos da conversa (ex.: fora do horário de atendimento). |\n| **Motivo de encerramento** | Classificação atribuída à conversa no momento do encerramento, usada em relatórios. |\n| **Lembrete** | Tarefa com data vinculada a um cliente e a um usuário. |\n| **Etiqueta** | Rótulo aplicado a clientes para organização e segmentação. |\n| **Webhook** | Notificação HTTP que a Pipeelo envia ao seu sistema quando eventos acontecem: `chat_started`, `chat_closed`, `chat_transferred`, `custom_event` e `lead_from_meta_ad`. |\n\n## Autenticação\n\nA API usa tokens Bearer. Para obter um token:\n\n1. Autentique-se com `POST /auth/login` usando e-mail e senha — o token retornado expira em 24 horas.\n2. Para integrações de longa duração, gere um token permanente com `POST /permanent-token` (autenticado).\n\nEnvie o token em todas as requisições:\n\n```\nAuthorization: Bearer {seu-token}\n```\n\nEndpoints marcados como públicos (como o próprio login) não exigem token.\n\n## Paginação\n\nEndpoints de listagem retornam resultados paginados no formato padrão do Laravel:\n\n```json\n{\n  \"current_page\": 1,\n  \"data\": [],\n  \"per_page\": 15,\n  \"total\": 42,\n  \"last_page\": 3\n}\n```\n\nControle a paginação com os parâmetros de query `page` e `per_page`.\n\n## Erros\n\nA API usa códigos HTTP convencionais:\n\n| Código | Significado |\n|---|---|\n| `401` | Token ausente, inválido ou expirado |\n| `403` | Sem permissão para o recurso |\n| `404` | Recurso não encontrado |\n| `422` | Erro de validação — o corpo traz `message` e `errors` por campo |\n| `429` | Limite de requisições excedido |\n\nExemplo de erro de validação:\n\n```json\n{\n  \"message\": \"O nome é obrigatório.\",\n  \"errors\": {\n    \"name\": [\"O nome é obrigatório.\"]\n  }\n}\n```\n\n## Limites de requisição\n\nAs requisições são limitadas por tenant. Ao exceder o limite, a API responde `429 Too Many Requests` — aguarde e tente novamente com backoff exponencial.\n"
    },
    "servers": [
        {
            "url": "https://api.pipeelo.com/v1",
            "description": "Produção"
        },
        {
            "url": "http://localhost:8010/v1",
            "description": "Local"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/download/{path}": {
            "get": {
                "operationId": "storage.download",
                "description": "Faz o streaming de um arquivo armazenado, com o `Content-Type` inferido pela extensão.",
                "summary": "Baixar arquivo",
                "tags": [
                    "Arquivos"
                ],
                "parameters": [
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Força o download como anexo (`Content-Disposition: attachment`).",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "Transfer-Encoding": {
                                "required": true,
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "chunked"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "operationId": "login",
                "description": "Autentica um usuário com e-mail e senha e retorna um token Bearer válido por 24 horas. Informe `device_name` para identificar a origem do token. Para integrações de longa duração, gere um token permanente com `POST /permanent-token` após o login.",
                "summary": "Autenticar usuário",
                "tags": [
                    "Autenticação"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string"
                                        },
                                        "tenant_id": {
                                            "type": "string"
                                        },
                                        "role_slug": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "$ref": "#/components/schemas/UserStatusEnum"
                                        },
                                        "tenant_created": {
                                            "type": [
                                                "string",
                                                "null"
                                            ],
                                            "format": "date-time"
                                        },
                                        "check_active": {
                                            "type": "string",
                                            "enum": [
                                                "active",
                                                "inactive"
                                            ]
                                        },
                                        "profile_image": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "is_dark_mode": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "token",
                                        "id",
                                        "name",
                                        "email",
                                        "tenant_id",
                                        "role_slug",
                                        "status",
                                        "tenant_created",
                                        "check_active",
                                        "profile_image",
                                        "is_dark_mode"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/permanent-token": {
            "post": {
                "operationId": "permanentToken",
                "description": "Gera um token de acesso sem expiração para o usuário autenticado. Recomendado para integrações servidor-a-servidor.",
                "summary": "Gerar token permanente",
                "tags": [
                    "Autenticação"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": []
                                    },
                                    "required": [
                                        "token"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "operationId": "auth.logout",
                "description": "Revoga o token utilizado na requisição.",
                "summary": "Encerrar sessão",
                "tags": [
                    "Autenticação"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Desconectado com sucesso."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/auth/me": {
            "get": {
                "operationId": "auth.me",
                "description": "Retorna os dados do usuário dono do token utilizado na requisição.",
                "summary": "Consultar usuário autenticado",
                "tags": [
                    "Autenticação"
                ],
                "responses": {
                    "200": {
                        "description": "`AuthMeResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthMeResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/chats/close": {
            "patch": {
                "operationId": "chats.finish",
                "description": "Encerra a conversa informada em `chat_id`.",
                "summary": "Encerrar conversa",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CloseChatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/close/multiple": {
            "post": {
                "operationId": "chats.finish-multiple-chats",
                "description": "Encerra em massa as conversas informadas ou as que atendem aos filtros.",
                "summary": "Encerrar várias conversas",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CloseMultipleChatsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/send-to-category-queue": {
            "post": {
                "operationId": "chats.send-to-category-queue",
                "description": "Envia a conversa para a fila da categoria informada em `category_id`, com nota opcional.",
                "summary": "Transferir para categoria",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendChatToCategoryQueueRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/send-to-user": {
            "post": {
                "operationId": "chats.send-to-user",
                "description": "Transfere a conversa para o atendente informado em `user_id`, com nota opcional.",
                "summary": "Transferir para usuário",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SentChatToUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/send-multiple-to-user": {
            "post": {
                "operationId": "chats.send-multiple-chats-to-user",
                "description": "Transfere em massa conversas para um atendente.",
                "summary": "Transferir várias para usuário",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SentMultipleChatsToUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/send-multiple-category-queue": {
            "post": {
                "operationId": "chats.send-multiple-chats-to-category-queue",
                "description": "Envia em massa conversas para a fila de uma categoria.",
                "summary": "Transferir várias para categoria",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendMultipleChatsToCategoryQueueRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/note": {
            "post": {
                "operationId": "chats.note",
                "description": "Registra uma nota interna na conversa, visível apenas para a equipe.",
                "summary": "Adicionar nota interna",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NoteChatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/send-to-ai": {
            "post": {
                "operationId": "chats.send-to-ai",
                "description": "Transfere a conversa para atendimento pelo assistente de IA.",
                "summary": "Enviar para IA",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendChatToAIRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/send-multiple-to-ai": {
            "post": {
                "operationId": "chats.send-multiple-chats-to-ai",
                "description": "Transfere em massa conversas para atendimento pelo assistente de IA.",
                "summary": "Enviar várias para IA",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendMultipleChatsToAIRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/archive": {
            "patch": {
                "operationId": "chats.toggle-archive",
                "description": "Alterna o estado de arquivamento da conversa informada em `chat_id`.",
                "summary": "Arquivar ou desarquivar conversa",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ArchiveChatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/chats/add-reason": {
            "post": {
                "operationId": "chats.add-reason",
                "description": "Vincula um motivo de encerramento (`reason_chat_id`) à conversa.",
                "summary": "Atribuir motivo de encerramento",
                "tags": [
                    "Ações de conversa"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddReasonChatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/campaign": {
            "get": {
                "operationId": "campaign.index",
                "description": "Retorna a lista paginada de campanhas do tenant.",
                "summary": "Listar campanhas",
                "tags": [
                    "Campanhas"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Busca pelo nome da campanha.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página (padrão 20).",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página a retornar (padrão 1).",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CampaignData"
                                            }
                                        },
                                        "first_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "from": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "last_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "active": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "required": [
                                                    "url",
                                                    "label",
                                                    "active"
                                                ]
                                            }
                                        },
                                        "next_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "path": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "prev_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "to": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "current_page",
                                        "data",
                                        "first_page_url",
                                        "from",
                                        "last_page",
                                        "last_page_url",
                                        "links",
                                        "next_page_url",
                                        "path",
                                        "per_page",
                                        "prev_page_url",
                                        "to",
                                        "total"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "campaign.store",
                "description": "Cria a campanha e inicia o envio de forma assíncrona, em lotes de clientes com atraso escalonado entre eles.",
                "summary": "Criar campanha",
                "tags": [
                    "Campanhas"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCampaignRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignData"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campaign/{id}": {
            "get": {
                "operationId": "campaign.show",
                "summary": "Consultar campanha",
                "tags": [
                    "Campanhas"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignData"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "operationId": "categories.index",
                "description": "Retorna a lista paginada de categorias (filas de atendimento).",
                "summary": "Listar categorias",
                "tags": [
                    "Categorias"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Busca pelo nome.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "has_office_hours",
                        "in": "query",
                        "description": "Somente categorias com (ou sem) horário de atendimento configurado.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página (padrão 20).",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página a retornar (padrão 1).",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `CategoryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "categories.store",
                "summary": "Criar categoria",
                "tags": [
                    "Categorias"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCategoryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`CategoryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/categories/{id}": {
            "get": {
                "operationId": "categories.show",
                "summary": "Consultar categoria",
                "tags": [
                    "Categorias"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Categoria não encontrada"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "`CategoryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "categories.update",
                "summary": "Atualizar categoria",
                "tags": [
                    "Categorias"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCategoryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`CategoryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "categories.destroy",
                "summary": "Excluir categoria",
                "tags": [
                    "Categorias"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/calls": {
            "get": {
                "operationId": "call.index",
                "description": "Retorna o histórico paginado de chamadas de voz.",
                "summary": "Listar chamadas",
                "tags": [
                    "Chamadas"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Busca por telefone ou nome do cliente (mínimo 5 caracteres).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Direção da chamada.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "inbound",
                                "outbound"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status da chamada, separados por vírgula.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Atendente.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer_id",
                        "in": "query",
                        "description": "Cliente.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "call_number_id",
                        "in": "query",
                        "description": "Número utilizado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "department_id",
                        "in": "query",
                        "description": "Departamento.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "has_recording",
                        "in": "query",
                        "description": "Somente chamadas com (ou sem) gravação.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "start_period",
                        "in": "query",
                        "description": "Início do período (`Y-m-d H:i`).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_period",
                        "in": "query",
                        "description": "Fim do período (`Y-m-d H:i`).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Ordenação (padrão: mais recentes).",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest-call",
                                "oldest-call"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página (padrão 12).",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página a retornar (padrão 1).",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CallData"
                                            }
                                        },
                                        "first_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "from": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "last_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "active": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "required": [
                                                    "url",
                                                    "label",
                                                    "active"
                                                ]
                                            }
                                        },
                                        "next_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "path": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "prev_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "to": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "current_page",
                                        "data",
                                        "first_page_url",
                                        "from",
                                        "last_page",
                                        "last_page_url",
                                        "links",
                                        "next_page_url",
                                        "path",
                                        "per_page",
                                        "prev_page_url",
                                        "to",
                                        "total"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/incoming-context": {
            "get": {
                "operationId": "call.incomingContext",
                "description": "Retorna o contexto da chamada entrante oferecida ao usuário autenticado: chamada, cliente, departamento e conversa relacionada.",
                "summary": "Consultar chamada entrante",
                "tags": [
                    "Chamadas"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IncomingCallContextData"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/token": {
            "post": {
                "operationId": "call.token",
                "description": "Gera o token JWT da Twilio Voice para o usuário autenticado atender e realizar chamadas no navegador. Expira em 1 hora.",
                "summary": "Gerar token de voz",
                "tags": [
                    "Chamadas"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "identity": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "const": 3600
                                        }
                                    },
                                    "required": [
                                        "token",
                                        "identity",
                                        "expires_in"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/calls/presence": {
            "post": {
                "operationId": "call.presence",
                "description": "Atualiza o status de disponibilidade do agente para receber chamadas.",
                "summary": "Atualizar presença do agente",
                "tags": [
                    "Chamadas"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCallPresenceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/calls/recording/{id}": {
            "get": {
                "operationId": "call.recording",
                "description": "Faz o streaming do áudio da gravação da chamada.",
                "summary": "Baixar gravação",
                "tags": [
                    "Chamadas"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/customers": {
            "get": {
                "operationId": "customers.index",
                "description": "Retorna a lista paginada de clientes, sempre com 15 itens por página.",
                "summary": "Listar clientes",
                "tags": [
                    "Clientes"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Busca por nome ou telefone.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Slugs de etiquetas, separados por vírgula — clientes com qualquer uma delas.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "exclude_tags",
                        "in": "query",
                        "description": "Slugs de etiquetas, separados por vírgula — exclui clientes que as possuam.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "interaction_period",
                        "in": "query",
                        "description": "Período da última interação do cliente.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TODAY",
                                "LAST_1_7_DAYS",
                                "LAST_8_30_DAYS",
                                "LAST_31_90_DAYS",
                                "MORE_THAN_90_DAYS",
                                "NEVER"
                            ]
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Gênero.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cep",
                        "in": "query",
                        "description": "CEP.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "age",
                        "in": "query",
                        "description": "Faixa etária: `age[initial]` e `age[final]`.",
                        "schema": {
                            "type": "object"
                        }
                    },
                    {
                        "name": "with",
                        "in": "query",
                        "description": "Relações a incluir, separadas por vírgula (ex.: `tags`).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página a retornar (padrão 1).",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `CustomerResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CustomerResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "customers.store",
                "summary": "Criar cliente",
                "tags": [
                    "Clientes"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCustomerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`CustomerResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/customers/{id}": {
            "put": {
                "operationId": "customers.update",
                "description": "Atualiza os dados do cliente. O campo `tags` substitui o conjunto de etiquetas do cliente.",
                "summary": "Atualizar cliente",
                "tags": [
                    "Clientes"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCustomerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`CustomerResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "customers.show",
                "description": "Retorna um cliente pelo id.",
                "summary": "Consultar cliente",
                "tags": [
                    "Clientes"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CustomerResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "customers.destroy",
                "summary": "Excluir cliente",
                "tags": [
                    "Clientes"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/customers/{id}/activate": {
            "post": {
                "operationId": "customers.activate",
                "description": "Reativa um cliente previamente excluído.",
                "summary": "Reativar cliente",
                "tags": [
                    "Clientes"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CustomerResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/customers/import": {
            "post": {
                "operationId": "customers.import",
                "description": "Importa clientes via arquivo CSV ou JSON (`type`). Importações com 1000 ou mais linhas são processadas de forma assíncrona.",
                "summary": "Importar clientes",
                "tags": [
                    "Clientes"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ImportCustomerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/customers/destroy-multiple": {
            "post": {
                "operationId": "customers.destroyMultiple",
                "description": "Exclui em massa os clientes informados em `customers[]`.",
                "summary": "Excluir vários clientes",
                "tags": [
                    "Clientes"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DestroyMultipleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Clientes excluídos com sucesso."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/call-accounts": {
            "get": {
                "operationId": "call-accounts.index",
                "description": "Retorna as contas de chamadas de voz do tenant.",
                "summary": "Listar contas de voz",
                "tags": [
                    "Contas de voz"
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CallAccountData"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "call-accounts.store",
                "description": "Cria a conta de voz, valida as credenciais e provisiona a subconta na Twilio.",
                "summary": "Criar conta de voz",
                "tags": [
                    "Contas de voz"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCallAccountRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallAccountData"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/call-accounts/{id}": {
            "put": {
                "operationId": "call-accounts.update",
                "summary": "Atualizar conta de voz",
                "tags": [
                    "Contas de voz"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCallAccountRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallAccountData"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "call-accounts.destroy",
                "summary": "Excluir conta de voz",
                "tags": [
                    "Contas de voz"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/chats": {
            "get": {
                "operationId": "chat.index",
                "description": "Retorna a lista paginada de conversas do tenant, da mais recente para a mais antiga. Combine os filtros de estado, canal, atendente e período conforme necessário — com `search`, os demais filtros são ignorados.",
                "summary": "Listar conversas",
                "tags": [
                    "Conversas"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Busca por protocolo ou por nome/telefone do cliente (mínimo 5 caracteres). Quando presente, os demais filtros são ignorados.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filters",
                        "in": "query",
                        "description": "Estados da conversa, separados por vírgula: `opened`, `closed`, `pending`, `queue`, `has_customer_message`.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Somente conversas arquivadas.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Ordenação da lista.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest-chat",
                                "oldest-chat",
                                "newest-message",
                                "oldest-message",
                                "newest-queue",
                                "oldest-queue"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Canal da conversa (ex.: `WHATSAPP_OFFICIAL`, `FACEBOOK_MESSENGER`, `INSTAGRAM`, `IMPORTED`).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sub_channel_id",
                        "in": "query",
                        "description": "Conta conectada (subcanal).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Atendente responsável.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Conversas com ação na categoria.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_period",
                        "in": "query",
                        "description": "Início do período (`Y-m-d H:i`), pela data de abertura.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_period",
                        "in": "query",
                        "description": "Fim do período (`Y-m-d H:i`).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "initiated_by",
                        "in": "query",
                        "description": "Quem enviou a primeira mensagem.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "customer",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "nps",
                        "in": "query",
                        "description": "Faixa de NPS da conversa.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "detractors",
                                "passives",
                                "promoters"
                            ]
                        }
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "description": "Busca no texto das mensagens.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inactive_for_minutes",
                        "in": "query",
                        "description": "Conversas sem atividade há pelo menos N minutos.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "interaction_user_id",
                        "in": "query",
                        "description": "Conversas em que o usuário informado interagiu.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assistant_id",
                        "in": "query",
                        "description": "Conversas com o assistente de IA ativo.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "campaign_id",
                        "in": "query",
                        "description": "Conversas originadas da campanha.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "message_template_id",
                        "in": "query",
                        "description": "Conversas com mensagem enviada pelo template.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "message_event_status",
                        "in": "query",
                        "description": "Status do último evento de mensagem, separados por vírgula.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "notifier_id",
                        "in": "query",
                        "description": "Conversas vinculadas ao notificador.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reason_id",
                        "in": "query",
                        "description": "Conversas encerradas com o motivo informado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ad_id",
                        "in": "query",
                        "description": "Conversas originadas do anúncio Meta informado.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from_ad",
                        "in": "query",
                        "description": "Somente conversas originadas (ou não) de anúncios Meta.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página (padrão 12).",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página a retornar (padrão 1).",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ChatResourceData"
                                            }
                                        },
                                        "first_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "from": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "last_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "active": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "required": [
                                                    "url",
                                                    "label",
                                                    "active"
                                                ]
                                            }
                                        },
                                        "next_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "path": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "prev_page_url": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "to": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "current_page",
                                        "data",
                                        "first_page_url",
                                        "from",
                                        "last_page",
                                        "last_page_url",
                                        "links",
                                        "next_page_url",
                                        "path",
                                        "per_page",
                                        "prev_page_url",
                                        "to",
                                        "total"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "chat.store",
                "description": "Abre uma conversa com um cliente. Informe `customer_id` ou `customer_phone` (o cliente é criado automaticamente se não existir). Com `template_name`, envia um template HSM na abertura — disponível apenas em canais WhatsApp Official (400 em outros canais).",
                "summary": "Criar conversa",
                "tags": [
                    "Conversas"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateChatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "anyOf": [
                                                {
                                                    "$ref": "#/components/schemas/ChatData"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "chat": {
                                                    "anyOf": [
                                                        {
                                                            "$ref": "#/components/schemas/ChatData"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "message": {
                                                    "$ref": "#/components/schemas/MessageResourceData"
                                                }
                                            },
                                            "required": [
                                                "chat",
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
[...]
